@font-face {
    font-family: 'RefrigeratorBold';
    src: url('../fonts/Refrigerator Deluxe Bold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RefrigeratorHeavy';
    src: url('../fonts/Refrigerator Deluxe Heavy.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
